name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main # Change this to your desired branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Authenticate with Firebase
        run: firebase login:ci
        env:
          FIREBASE_TOKEN: ${{ secrets.1//05cVfH28GSYE4CgYIARAAGAUSNwF-L9Iry9zSKjd400jSefuU5_iBS9I_BStb8pR4M28VLGMeyB72OaHys7ycHSQ-Gtx8HQWpRiE }}

      - name: Deploy to Firebase Hosting
        run: firebase deploy --only hosting